@keyframes bounce-up {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-8px); 
  }
  100% {
    transform: translateY(0);
  }
}

.bg-black a:hover .fa-brands {
  animation: bounce-up 0.5s ease-out;
}